main 
    div(class="my-3 container")
        div(class="card")
            div(class="bg-success card-header")
                ul(class="nav nav-tabs card-header-tabs")
                    li.nav-item
                        a(class="nav-link text-light" id="addSwitch" href="#") Add post
                    li.nav-item
                        a(class="nav-link text-light" id="editSwitch" href="#") Modify posts
            div.card-body#edit
                h2.card-title Edit post
                table(class="table table-bordered") 
                    thead 
                        tr 
                            th ID 
                            th Date
                            th Title
                            th Description 
                            th Actions
                    tbody 
                        each post in posts
                            tr(id=`_${post._id}`)
                                td=post._id
                                td #{post.date.split('T')[0]} <br> #{post.date.split('T')[1].split('.')[0]}
                                td=post.title
                                td=post.description
                                td(class="d-flex justify-content-center")
                                    button(class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#modmodal" onclick=`Mod('${post._id}')`)
                                        i(class="bi bi-pen-fill")
                                    button(class="btn btn-danger" onclick=`Delete('${post._id}')`)
                                        i(class="bi bi-trash-fill")  
            div.card-body#adder 
                div(class="alert alert-success d-none" id="alert")
                h2.card-title Add post
                form
                    div.mb-3
                        label(for="title" class="form-label fs-3") Post title
                        input(type="text" placeholder="A good title" name="title" class="form-control fs-5") 
                    div.mb-3
                        label(for="description" class="form-label fs-3") Short description
                        input(type="text" placeholder="A good description" name="description" class="form-control fs-5") 
                    div.mb-3
                        label(for="fulltext" class="form-label fs-3") Post text
                        textarea(name="fulltext" class="form-control") 
                    input(type="button" class="btn btn-success" id="post" value="Add")
            div(class="modal fade" id="modmodal" tabindex="-1")
                div.modal-dialog 
                    div.modal-content 
                        div.modal-header
                            h2 Modify post # 
                                span#modid
                        div.modal-body
                            form#mod
                                div.mb-3
                                    label(for="id" class="form-label" ) ID:
                                    input(type="text" class="form-control" disabled name="id")
                                div.mb-3
                                    label(for="title" class="form-label") Title:
                                    input(type="text" class="form-control" name="title")
                                div.mb-3
                                    label(for="description" class="form-label") Description:
                                    input(type="text" class="form-control" name="description")
                                div.mb-3
                                    label(for="fulltext" class="form-label") Full text:
                                    textarea(type="text" class="form-control" name="fulltext")
                        div.modal-footer
                            button(class="btn btn-success" onclick="SubmitMod()") Submit
                            button(class="btn btn-danger" data-bs-dismiss="modal") Cancel

